:root {
  --color-white: #eee;
  --color-yellow: #f1c40f;
  --color-title: #ddd;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  background-color: var(--color-white);
  color: #000;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: var(--color-white);
  padding: 1em 0;
}

#main {
  margin-top: 180px;
}

#nav-bar {
  margin-top: 0.5em;
}

.price--card-body li {
  padding: 0.5em;
}

#header li {
  padding-bottom: 0.5em;
}

#header li a {
  text-decoration: none;
  color: #000;
}

#main h1,
.getting-started {
  margin-top: 1em;
  text-align: center;
}

#main h1 {
  font-size: 1.5rem;
  font-weight: bold;
}

#form {
  width: 300px;
  margin: 0 auto;
}

#email {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0.3em;
}

#submit {
  display: inline-block;
  margin: 1em 0;
  padding: 0.5em 1.2em;
  background-color: var(--color-yellow);
  color: #000;
  border: 0;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 2px;
}

#features {
  text-align: center;
}

.article {
  margin: 3em 0;
}

.article h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #000;
  margin: 0.3em 0;
}

#video {
  max-width: 560px;
  margin: 2em auto;
}

#video iframe {
  width: 100%;
}

#pricing-section {
  text-align: center;
}

.price-card {
  width: 300px;
  margin: 2em auto;
  border: 1px solid #000;
}

.price-card-title {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--color-title);
  padding: 1em 0;
}

.price--card-body h3 {
  font-size: 1.3rem;
  font-weight: 700;
  padding: 1em 0;
}

.price--card-body button {
  font-size: 1rem;
  font-weight: normal;
  margin: 1em 0;
  padding: 0.8em 1.5em;
  background-color: var(--color-yellow);
  text-transform: uppercase;
  border: 0;
  border-radius: 1px;
}

#footer {
  padding: 1em;
  text-align: right;
  background-color: var(--color-title);
}

#footer ul li {
  display: inline-block;
  margin-right: 0.5em;
}

#footer li a {
  text-decoration: none;
  color: #000;
}

#footer p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.8);
  padding-top: 0.5em;
}

.side-icon {
  display: none;
}

.yellow-color {
  color: var(--color-yellow);
}

@media (min-width: 550px) {
  .side-icon {
    display: block;
  }

  #features {
    text-align: left;
  }

  .article {
    display: flex;
    justify-content: center;
  }

  .desc {
    margin-left: 2em;
    width: 75%;
  }
}

@media (min-width: 600px) {
  #header {
    display: flex;
    align-items: center;
  }

  #nav-bar {
    width: 400px;
    padding: 0 4em;
  }
}

@media (min-width: 650px) {
  #header {
    justify-content: space-between;
  }

  #nav-bar {
    padding: 0;
  }

  #nav-bar ul {
    display: flex;
  }

  #nav-bar ul li {
    /* display: inline-block;
    margin-right: 0.7em; */
    flex: 1;
  }
}

@media (min-width: 800px) {
  #pricing-section {
    display: flex;
    padding: 0 0.5em;
  }

  .price-card:not(:last-of-type) {
    margin-right: 18px;
  }

  #features,
  #footer,
  #pricing-section {
    max-width: 1024px;
    margin: 0 auto;
  }
}
